@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbs-swiper .swiper-slide img {
  filter: brightness(0.6);
  transition: filter 0.3s ease;
  border-radius: 10px;
  
}

.thumbs-swiper .swiper-slide-thumb-active img {
  filter: brightness(1);
  border: 2px solid #f59e0b;
}


@layer components {
  .editor-output-describe h1,
  .editor-output-describe h2,
  .editor-output-describe h3 {
    @apply flex items-center gap-2 text-[1.6em] font-bold;
  }
  .editor-output-describe ul,
  .editor-output-describe ol {
    @apply ml-[1.3em] text-lg [&>li]:mb-4;
  }
  .editor-output-describe p {
    @apply text-lg;
  }


  .editor-output-category ul {
    @apply text-gray-700 text-lg font-timesnewroman list-disc list-inside space-y-1;
  }
  .editor-output-category ol {
    @apply text-gray-700 text-lg font-timesnewroman list-decimal list-inside space-y-1;
  }
  .editor-output-category h1,
  .editor-output-category h2,
  .editor-output-category h3,
  .editor-output-category h4 {
    @apply text-lg font-medium flex items-center gap-3;
  }


  .editor-output-introduce h1,
  .editor-output-introduce h2,
  .editor-output-introduce h3,
  .editor-output-introduce h4
    {
    @apply font-timesnewroman flex items-center
  }
  .editor-output-introduce p{
    @apply font-timesnewroman text-lg
  }
  .editor-output-introduce h1{
    @apply text-3xl
  }
  .editor-output-introduce h2{
    @apply text-2xl
  }
  .editor-output-introduce h3{
    @apply text-xl
  }
  .editor-output-introduce h4{
    @apply text-lg
  }
  .editor-output-introduce h5{
    @apply text-base
  }


  .editor-output-listProduct h1,
  .editor-output-listProduct h2,
  .editor-output-listProduct h3,
  .editor-output-listProduct h4,
  .editor-output-listProduct h5{
    @apply text-lg
  }
  .editor-output-listProduct ul,
  .editor-output-listProduct ol{
    @apply list-inside text-gray-700 space-y-1
    
  }
  .editor-output-listProduct ul{
    /* @apply list-disc */
    
  }
  .editor-output-listProduct ol{
    @apply list-decimal
    
  }
  .editor-output-listProduct li {
    @apply relative ps-6
  }
  .editor-output-listProduct li::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0.25rem;
    width: 1rem;
    height: 1rem;
    
    background-image: url('/check.svg');
  }
  


}